discord
from discord import message
from discord.enums import _is_descriptor
from discord.ext import commands
asyncio
datetime
random
time
sys
json
os
discord as d
from discord.ext import commands, tasks
from bs4 import BeautifulSoup
aiohttp
from captcha.image import ImageCaptcha
from discord.ext.commands import has_permissions, MissingPermissions
from youtube_search import YoutubeSearch
youtube_dl
from random import choice
math
aiosqlite
urllib
from urllib.request import URLError
from urllib.request import HTTPError
from urllib.request import urlopen
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup
from urllib.parse import quote
re # Regex for youtube link
warnings
requests
