import discord
import asyncio
import datetime
import random
import time
import sys
import json
import os
import discord as d
import aiohttp
import youtube_dl
import math
import aiosqlite
import urllib
import re # Regex for youtube link
import warnings
import requests
